teiHeader {
  display: none;
}

text, body, div, p  {
  display: block;
}

body {
  max-width: 800px;
  border: 1px solid;
  margin: auto;
}

div[type=recepte] {
  max-width: 500px;
  margin: auto;
}

