:root {
	background-color: wheat;
	padding: 1rem;
	font-size-adjust: .5;
	font-family: Vollkorn, Junicode, Georgia, 'Times New Roman', Times, serif;
	font-weight: 500;
}

body {
	max-width: 800px;
	margin: auto;
	padding: 1rem;
	background-color: cornsilk;
	border: outset 2px;
}

section {
	padding-left: 3em;
}

nav {
	font-variant: small-caps;
}

img {
	max-width: 100%;
	height: auto;
}

.manuscrit {
	font-style: italic;
	font-variant: discretionary-ligatures;
}

abbr {
	font-variant: historical-ligatures;
}

sup {
	font-size: 1em;
	vertical-align: bottom;
	font-variant-position: super;
}

a {
	text-decoration: none;
}

.incertain {
	font-weight: 100;
}

.incertain::after {
	content: "?";
	font-variant-position: super;
}

.caviardage {
	text-decoration: line-through 3px;
}

.marge {
	margin-left: -1em;
}

.variantes {
	font-style: italic;
}
