* {
	box-sizing: border-box;
}

:root {
	font-family: "Vollkorn", "Linux Libertine G", "Junicode Medium", "Junicode", "Georgia", Times;
	font-size-adjust: 0.5;
}

TEI, text, group, div, ul, ol, li, p, entry, sense, cit, form, bibl, etym, note, def {
    display: block;
}


form[type=lemma], gramGrp, usg {
	display: inline-block;
}

gramGrp, usg {
	margin-left: 0.5em;
}

teiHeader {
    display: none;
}

entry {
    max-width: 400px;
    margin: 1rem auto;
    border: outset 1px;
}

entry > * {
    margin: .5rem;
}

sense > * {
	margin-bottom: .5rem;
}

:lang(patois) {
    font-style: italic;
	font-family: "Junicode";
	font-weight: 500;
}

form[type=lemma], def {
	font-weight: 600 !important;
}

form[type=lemma] {
	font-size: 1.25rem;
	font-style: normal !important;
}

bibl, etym {
	font-size: 0.75rem;
	text-align: right;
}

etym {
	font-variant: small-caps;
}

usg::before {
	content: "(";
	font-style: normal;
}

usg::after {
	content: ")";
	font-style: normal;
}

supplied, unclear {
	text-decoration: underline dotted grey;
}

supplied[cert="medium"]::after {
	content: "⚠";
	color: orange;
	font-size: .75em;
	vertical-align: top;
}

supplied[cert="low"]::after {
	content: "⚠";
	color: orangered;
	font-size: .75em;
	vertical-align: top;
}

cit q::before {
	content: "« ";
}

cit q::after {
	content: " »";
}